<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Valores aceptados para trabajo/descanso: Para Pomodoro se recomienda 25/5. Para fokasu 52/17-->
		<add key="valorInicialPomodoro" value="25"/>
		<add key="valorBreakPomodoro" value="5"/>
		<add key="opacidad" value="0.50"/><!--Valores recomendados: 0.75, 0.50, 0.25, aunque acepta valores entre 0 y 1-->
		<add key="TopMost" value="true"/><!--true o false-->
		<add key="Blink" value="true"/><!--true o false, es para alternar colores a 1 minuto antes de finalizar-->
		<add key="AutoSwitch" value="false"/><!--true o false, si esta en true luego de finalizar un pomodoro continua al complemento del otro pomodoro.-->
		<add key="LogEnabled" value="true"/> <!--true o false, si esta en true escribirá un archivo de texto con las fechas de inicio y fin de los pomodoros, para tener estadísticas.-->
	</appSettings>
</configuration>